<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            border: 2px solid antiquewhite;
            width: fit-content;
            padding: 10px;
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <center>
        <h1>This is department table data form</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="id">Did:</label>
            <input type="number" name="id" id="id" placeholder="Enter Id"><br><br>
            <label for="dname">Department Name:</label>
            <input type="text" name="dname" id="dname" placeholder="Enter Dept Name"><br><br>
            <label for="loc">Loc:</label>
            <input type="text" name="loc" id="loc" placeholder="Enter Location"><br><br>
            <input type="submit" value="submit">
        </form>
    </center>
</body>
</html>